In [150]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [151]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (2.16.2)
Requirement already satisfied: tensorflow-intel==2.16.2 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow) (2.16.2)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (2.32.3)
Requirement already satisfied: setuptools in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (70.2.0)
Requirement already satisfied: six>=1.12.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (1.64.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (3.4.1)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorflow-intel==2.16.2->tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.16.2->tensorflow) (0.43.0)
Requirement already satisfied: rich in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.2->tensorflow) (13.7.1)
Requirement already satisfied: namex in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.2->tensorflow) (0.0.8)
Requirement already satisfied: optree in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.2->tensorflow) (0.12.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.2->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.2->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.2->tensorflow) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.2->tensorflow) (2024.7.4)
Requirement already satisfied: markdown>=2.6.8 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.2->tensorflow) (3.6)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.2->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.2->tensorflow) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow-intel==2.16.2->tensorflow) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.2->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.2->tensorflow) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\ganja\onedrive\documents\udemy\annclassification\annclassification\.venv\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow-intel==2.16.2->tensorflow) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [152]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [153]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [154]:
label_encode_gender = LabelEncoder()
data['Gender'] = label_encode_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [155]:
from sklearn.preprocessing import OneHotEncoder
onehot_geo = OneHotEncoder()
geo_encoder = onehot_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [156]:
onehot_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [157]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns = onehot_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [158]:
data = pd.concat([data.drop('Geography', axis =1), geo_encoded_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [159]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encode_gender, file)
with open('onehot_geo.pkl', 'wb') as file:
    pickle.dump(onehot_geo, file)

In [160]:
X = data.drop('Exited', axis = 1)
y = data['Exited']
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [161]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [162]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [163]:
model = Sequential([
        Dense(64,activation='relu', input_shape=(X_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1, activation='sigmoid')
    ]
)

c:\Users\ganja\OneDrive\Documents\Udemy\annclassification\annclassification\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [164]:
model.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_14 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [165]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [166]:

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [167]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [168]:
history = model.fit(
    X_train, y_train, validation_data= (X_test, y_test), epochs = 100,
    callbacks = [tensorflow_callback, early_stopping]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8075 - loss: 0.4341 - val_accuracy: 0.8595 - val_loss: 0.3486
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8554 - loss: 0.3523 - val_accuracy: 0.8565 - val_loss: 0.3460
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8693 - loss: 0.3318 - val_accuracy: 0.8620 - val_loss: 0.3430
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8637 - loss: 0.3342 - val_accuracy: 0.8615 - val_loss: 0.3477
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8581 - loss: 0.3405 - val_accuracy: 0.8605 - val_loss: 0.3435
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8576 - loss: 0.3459 - val_accuracy: 0.8600 - val_loss: 0.3584
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8554 - loss: 0.3431 - val_accuracy: 0.8620 - val_loss: 0.3387
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8664 - loss: 0.3287 - val_accuracy: 0.8635 - val_loss: 0.3435
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8722 - loss: 0.3207 - val_accuracy: 0.8605 - val_loss: 0.3517
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8599 - loss: 0.3304 - val_accuracy: 0.8625 - val_loss: 0.3460
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8670 - loss: 0.3222 - val_accuracy: 0.8585 - val_loss: 0.3455
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8709 - loss: 0.3197 - val_accuracy: 0.8630 - val_loss: 0.3379
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8596 - loss: 0.3213 - val_accuracy: 0.8610 - val_loss: 0.3402
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8696 - loss: 0.3205 - val_accuracy: 0.8615 - val_loss: 0.3431
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8633 - loss: 0.3307 - val_accuracy: 0.8640 - val_loss: 0.3528
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8693 - loss: 0.3186 - val_accuracy: 0.8600 - val_loss: 0.3484
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8683 - loss: 0.3141 - val_accuracy: 0.8610 - val_loss: 0.3469
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8660 - loss: 0.3176 - val_accuracy: 0.8630 - val_loss: 0.3488
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8719 - loss: 0.3087 - val_accuracy: 0.8545 - val_loss: 0.3826
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8713 - loss: 0.3110 - val_accuracy: 0.8645 - val_loss: 0.3485
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8807 - loss: 0.3056 - val_accuracy: 0.8625 - val_loss: 0.3607
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8678 - loss: 0.3084 - val_accuracy: 0.8585 - val_loss: 0.3610

In [169]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [170]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [171]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 27400), started 19:43:55 ago. (Use '!kill 27400' to kill it.)

In [172]:
import tensorflow as tf
from tensorflow.keras.models import load_model

In [173]:
model = load_model('model.h5')

with open('onehot_geo.pkl', 'rb') as file:
    label_encode_geo = pickle.load(file)

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encode_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [174]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [175]:
geo_encoded = label_encode_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encode_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\ganja\OneDrive\Documents\Udemy\annclassification\annclassification\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [176]:
input_df = pd.DataFrame([input_data])

In [178]:
input_df['Gender'] = label_encode_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [179]:
input_df = pd.concat([input_df.drop("Geography", axis = 1), geo_encoded_df], axis=1)

In [ ]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0,1.0,0.0,0.0

In [180]:
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [182]:
prediction=model.predict(input_scaled)
prediction_proba = prediction[0][0]
prediction_proba

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step

0.027862085